In [55]:
# Import dependencies

import scipy.stats as st
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('max_colwidth', 400)
from pymongo import MongoClient
from pprint import pprint
import json

Import the data provided in the `2023.json` file from your Terminal. Name the database `covid_2023` and the collection `nations`.

Within this markdown cell, copy the line of text you used to import the data from your Terminal. This way, future analysts will be able to repeat your process.

e.g.: Import the dataset with mongoimport --type json -d covid_2023 -c nations --drop --jsonArray 2023.json

In [56]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# confirm that our new database was created
print(mongo.list_database_names())

['admin', 'config', 'covid_2021', 'covid_2022', 'covid_2023', 'local', 'met', 'uk_food']

In [57]:
# assign the covid database to a variable name
db = mongo['covid_2023']

In [58]:
# assign the collection to a variable
nations = db['nations']

In [59]:
query = {'Country_Region': 'US'}
results = nations.find(query)
sort = [("Province_State", 1)]
limit = 5
results = list(nations.find(query).sort(sort).limit(limit))

pprint(results)

[{'Active': '',
  'Admin2': 'Baldwin',
  'Case_Fatality_Ratio': 1.065248311011023,
  'Combined_Key': 'Baldwin, Alabama, US',
  'Confirmed': 67496,
  'Country_Region': 'US',
  'Deaths': 719,
  'FIPS': 1003,
  'Incident_Rate': '30235.53759731941',
  'Last_Update': '2023-01-02 04:20:57',
  'Lat': 30.72774991,
  'Long_': -87.72207058,
  'Province_State': 'Alabama',
  'Recovered': '',
  'Region': 'Southeast',
  '_id': ObjectId('64a20eaef129ffda06a4e0e3')},
 {'Active': '',
  'Admin2': 'Blount',
  'Case_Fatality_Ratio': 1.466358355422706,
  'Combined_Key': 'Blount, Alabama, US',
  'Confirmed': 17731,
  'Country_Region': 'US',
  'Deaths': 260,
  'FIPS': 1009,
  'Incident_Rate': '30662.677688237127',
  'Last_Update': '2023-01-02 04:20:57',
  'Lat': 33.98210918,
  'Long_': -86.56790593,
  'Province_State': 'Alabama',
  'Recovered': '',
  'Region': 'Southeast',
  '_id': ObjectId('64a20eaef129ffda06a4e0e4')},
 {'Active': '',
  'Admin2': 'Barbour',
  'Case_Fatality_Ratio': 1.4657748683648784,
  'Combined_Key': 'Barbour, Alabama, US',
  'Confirmed': 7027,
  'Country_Region': 'US',
  'Deaths': 103,
  'FIPS': 1005,
  'Incident_Rate': '28465.5270193632',
  'Last_Update': '2023-01-02 04:20:57',
  'Lat': 31.868263,
  'Long_': -85.3871286,
  'Province_State': 'Alabama',
  'Recovered': '',
  'Region': 'Southeast',
  '_id': ObjectId('64a20eaef129ffda06a4e0e1')},
 {'Active': '',
  'Admin2': 'Autauga',
  'Case_Fatality_Ratio': 1.21301619112916,
  'Combined_Key': 'Autauga, Alabama, US',
  'Confirmed': 18961,
  'Country_Region': 'US',
  'Deaths': 230,
  'FIPS': 1001,
  'Incident_Rate': '33938.31999856808',
  'Last_Update': '2023-01-02 04:20:57',
  'Lat': 32.53952745,
  'Long_': -86.64408227,
  'Province_State': 'Alabama',
  'Recovered': '',
  'Region': 'Southeast',
  '_id': ObjectId('64a20eaef129ffda06a4e0e0')},
 {'Active': '',
  'Admin2': 'Bibb',
  'Case_Fatality_Ratio': 1.4040561622464898,
  'Combined_Key': 'Bibb, Alabama, US',
  'Confirmed': 7692,
  'Country_Region': 'US',
  'Deaths': 108,
  'FIPS': 1007,
  'Incident_Rate': '34348.48620166116',
  'Last_Update': '2023-01-02 04:20:57',
  'Lat': 32.99642064,
  'Long_': -87.1251146,
  'Province_State': 'Alabama',
  'Recovered': '',
  'Region': 'Southeast',
  '_id': ObjectId('64a20eaef129ffda06a4e0e2')}]

In [60]:
output = []
results = nations.find(query)
for result in results:
    output.append(result)

usa_df = pd.DataFrame(output)
# Display the number of rows in the DataFrame
usa_df.drop(columns= ['Recovered','Active'], inplace=True)# Display the first 10 rows of the DataFrame
usa_df.dropna(axis=0, inplace=True)
print("Rows in DataFrame: ", len(usa_df))
usa_df.head()

Rows in DataFrame:  3115

,_id,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Combined_Key,Incident_Rate,Case_Fatality_Ratio,Region
0,64a20eaef129ffda06a4e0e0,1001.0,Autauga,Alabama,US,2023-01-02 04:20:57,32.539527,-86.644082,18961,230,"Autauga, Alabama, US",33938.31999856808,1.213016,Southeast
1,64a20eaef129ffda06a4e0e1,1005.0,Barbour,Alabama,US,2023-01-02 04:20:57,31.868263,-85.387129,7027,103,"Barbour, Alabama, US",28465.5270193632,1.465775,Southeast
2,64a20eaef129ffda06a4e0e2,1007.0,Bibb,Alabama,US,2023-01-02 04:20:57,32.996421,-87.125115,7692,108,"Bibb, Alabama, US",34348.48620166116,1.404056,Southeast
3,64a20eaef129ffda06a4e0e3,1003.0,Baldwin,Alabama,US,2023-01-02 04:20:57,30.727750,-87.722071,67496,719,"Baldwin, Alabama, US",30235.53759731941,1.065248,Southeast
4,64a20eaef129ffda06a4e0e4,1009.0,Blount,Alabama,US,2023-01-02 04:20:57,33.982109,-86.567906,17731,260,"Blount, Alabama, US",30662.677688237127,1.466358,Southeast

In [61]:
print(usa_df.isnull().sum())

_id                    0
FIPS                   0
Admin2                 0
Province_State         0
Country_Region         0
Last_Update            0
Lat                    0
Long_                  0
Confirmed              0
Deaths                 0
Combined_Key           0
Incident_Rate          0
Case_Fatality_Ratio    0
Region                 0
dtype: int64

In [62]:
northeast=usa_df.loc[usa_df['Region']=='Northeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
northeast.loc[northeast['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [63]:
midwest=usa_df.loc[usa_df['Region']=='Midwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
midwest.loc[midwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
1701,2023-01-02 04:20:57,Midwest,"Blaine, Nebraska, US",41.913117,-99.976778,76,4,5.263158
1730,2023-01-02 04:20:57,Midwest,"Grant, Nebraska, US",41.915286,-101.740701,108,6,5.555556

In [64]:
southwest=usa_df.loc[usa_df['Region']=='Southwest',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southwest.loc[southwest['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
2867,2023-01-02 04:20:57,Southwest,"Sabine, Texas, US",31.343188,-93.854405,1496,91,6.082888

In [65]:
southeast=usa_df.loc[usa_df['Region']=='Southeast',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
southeast.loc[southeast['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [66]:
rockies=usa_df.loc[usa_df['Region']=='Rocky_Mountain',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
rockies.loc[rockies['Case_Fatality_Ratio']>5]

,Last_Update,Region,Combined_Key,Lat,Long_,Confirmed,Deaths,Case_Fatality_Ratio
1805,2023-01-02 04:20:57,Rocky_Mountain,"Storey, Nevada, US",39.448755,-119.525021,187,14,7.486631

In [67]:
pacific=usa_df.loc[usa_df['Region']=='Pacific',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
pacific.loc[pacific['Case_Fatality_Ratio']>5]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [68]:
illinois=usa_df.loc[usa_df['Province_State']=='Illinois',['Last_Update','Region','Combined_Key','Lat','Long_','Confirmed','Deaths','Case_Fatality_Ratio']]
illinois.loc[illinois['Case_Fatality_Ratio']>3]

Empty DataFrame
Columns: [Last_Update, Region, Combined_Key, Lat, Long_, Confirmed, Deaths, Case_Fatality_Ratio]
Index: []

In [69]:

states_group = usa_df.groupby(['Province_State'])
states=states_group.mean()
states_df = states[['Lat','Long_','Case_Fatality_Ratio']]
states_df

                      Lat       Long_  Case_Fatality_Ratio
Province_State
Alabama         32.884280  -86.710122             1.590683
Alaska          60.364992 -148.885879             0.403228
Arizona         33.675904 -111.463232             1.680416
Arkansas        34.911889  -92.433978             1.647167
California      37.843962 -120.728594             0.778781
Colorado        38.935474 -105.486240             1.121479
Connecticut     41.613680  -72.656830             1.216301
Delaware        39.109277  -75.533237             1.078241
Florida         28.940755  -82.700744             1.517641
Georgia         32.808532  -83.577430             2.015776
Hawaii          20.990647 -157.414456             0.419139
Idaho           44.263401 -114.460125             1.386974
Illinois        39.843618  -89.178330             0.990573
Indiana         39.837353  -86.218568             1.406195
Iowa            42.029910  -93.465519             1.562682
Kansas          38.485379  -98.084552             1.496493
Kentucky        37.622144  -85.199891             1.288830
Louisiana       31.092427  -91.824187             1.396930
Maine           44.687688  -69.523769             0.953961
Maryland        39.014921  -76.675468             1.351105
Massachusetts   42.240538  -71.651168             1.225967
Michigan        44.043620  -85.181696             1.642379
Minnesota       45.552013  -94.430953             0.952060
Mississippi     32.792727  -89.645726             1.608662
Missouri        38.451174  -92.481408             1.660840
Montana         46.974691 -109.700395             1.574090
Nebraska        41.321795  -99.039012             1.481307
Nevada          39.255997 -117.563994             2.032883
New Hampshire   43.478973  -71.577657             0.820000
New Jersey      40.286441  -74.622450             1.200398
New Mexico      34.549359 -105.887107             1.766346
New York        42.544151  -75.474183             0.954397
North Carolina  35.624210  -79.501099             1.048438
North Dakota    47.393507 -100.249393             1.171114
Ohio            40.310670  -82.835408             1.444495
Oklahoma        35.501914  -97.251400             1.471077
Oregon          44.492401 -121.476920             1.236541
Pennsylvania    40.818078  -77.615318             1.666411
Rhode Island    41.655142  -71.464105             0.805748
South Carolina  33.957472  -80.983400             1.308504
South Dakota    44.272695  -99.310636             1.670975
Tennessee       35.885102  -86.108723             1.450090
Texas           31.660643  -98.653069             1.891912
Utah            40.149585 -111.536720             0.451586
Vermont         44.159496  -72.684381             0.513160
Virginia        37.566150  -78.513712             1.385234
Washington      47.233786 -120.719220             1.069031
West Virginia   38.814254  -80.617455             1.277034
Wisconsin       44.395143  -89.797980             0.977700
Wyoming         43.086886 -107.153242             1.231536

In [70]:
states_group = usa_df.groupby(['Province_State'])
states = states_group.agg({'Region': 'first', 'Lat': 'mean', 'Long_': 'mean','Confirmed': 'sum', 'Deaths':'sum', 'Case_Fatality_Ratio': 'mean'})
states.rename(columns={'Long_': 'long'}, inplace=True)
states.rename(columns={'Lat	': 'lat'}, inplace=True)
states.rename(columns={'Confirmed': 'total_confirmed'}, inplace=True)
states.rename(columns={'Deaths': 'total_deaths'}, inplace=True)
states.rename(columns={'Case_Fatality_Ratio': 'average_case_fatality_ratio'}, inplace=True)

states_df = states.reset_index()
states_df.rename(columns={'Province_State': 'State'}, inplace=True)
states_df = states_df.round(3)

states_df

,State,Region,Lat,long,total_confirmed,total_deaths,average_case_fatality_ratio
0,Alabama,Southeast,32.884,-86.710,1568934,20737,1.591
1,Alaska,Pacific,60.365,-148.886,301426,1455,0.403
2,Arizona,Southwest,33.676,-111.463,2378334,32182,1.680
3,Arkansas,Southeast,34.912,-92.434,953042,12695,1.647
4,California,Pacific,37.844,-120.729,11830741,98544,0.779
5,Colorado,Rocky_Mountain,38.935,-105.486,1734562,13880,1.121
6,Connecticut,Northeast,41.614,-72.657,946165,11772,1.216
7,Delaware,Northeast,39.109,-75.533,320766,3206,1.078
8,Florida,Southeast,28.941,-82.701,7309701,82869,1.518
9,Georgia,Southeast,32.809,-83.577,2875696,39816,2.016
10,Hawaii,Pacific,20.991,-157.414,363188,1747,0.419
11,Idaho,Rocky_Mountain,44.263,-114.460,511601,5316,1.387
12,Illinois,Midwest,39.844,-89.178,3969740,35761,0.991
13,Indiana,Midwest,39.837,-86.219,2002760,25364,1.406
14,Iowa,Midwest,42.030,-93.466,886408,10423,1.563
15,Kansas,Midwest,38.485,-98.085,917065,9717,1.496
16,Kentucky,Southeast,37.622,-85.200,1660077,17670,1.289
17,Louisiana,Southeast,31.092,-91.824,1512922,18370,1.397
18,Maine,Northeast,44.688,-69.524,306642,2790,0.954
19,Maryland,Northeast,39.015,-76.675,1318234,15918,1.351
20,Massachusetts,Northeast,42.241,-71.651,1958462,22911,1.226
21,Michigan,Midwest,44.044,-85.182,2937454,40529,1.642
22,Minnesota,Midwest,45.552,-94.431,1734922,13933,0.952
23,Mississippi,Southeast,32.793,-89.646,955145,13097,1.609
24,Missouri,Midwest,38.451,-92.481,1596140,20928,1.661
25,Montana,Rocky_Mountain,46.975,-109.700,323055,3621,1.574
26,Nebraska,Midwest,41.322,-99.039,541161,4653,1.481
27,Nevada,Rocky_Mountain,39.256,-117.564,865255,11751,2.033
28,New Hampshire,Northeast,43.479,-71.578,365365,2849,0.820
29,New Jersey,Northeast,40.286,-74.622,2925160,35510,1.200
30,New Mexico,Southwest,34.549,-105.887,651895,8814,1.766
31,New York,Northeast,42.544,-75.474,6575300,74594,0.954
32,North Carolina,Southeast,35.624,-79.501,3316814,27629,1.048
33,North Dakota,Midwest,47.394,-100.249,280818,2232,1.171
34,Ohio,Midwest,40.311,-82.835,3307568,41251,1.444
35,Oklahoma,Southwest,35.502,-97.251,1249884,15394,1.471
36,Oregon,Pacific,44.492,-121.477,939299,8962,1.237
37,Pennsylvania,Northeast,40.818,-77.615,3416142,48892,1.666
38,Rhode Island,Northeast,41.655,-71.464,414110,3768,0.806
39,South Carolina,Southeast,33.957,-80.983,1770059,18834,1.309
40,South Dakota,Midwest,44.273,-99.311,271856,3118,1.671
41,Tennessee,Southeast,35.885,-86.109,2337844,28057,1.450
42,Texas,Southwest,31.661,-98.653,8115511,91561,1.892
43,Utah,Rocky_Mountain,40.150,-111.537,803867,3330,0.452
44,Vermont,Northeast,44.159,-72.684,145412,779,0.513
45,Virginia,Southeast,37.566,-78.514,2199302,22670,1.385
46,Washington,Pacific,47.234,-120.719,1880380,15032,1.069
47,West Virginia,Southeast,38.814,-80.617,624721,7672,1.277
48,Wisconsin,Midwest,44.395,-89.798,1960878,15802,0.978
49,Wyoming,Rocky_Mountain,43.087,-107.153,182847,1958,1.232

In [71]:
# Assuming result_df is a pandas DataFrame
results = states_df.to_dict(orient='records')

# Convert results to JSON string
results_json = json.dumps(results, indent=4)

# Define the output file path
output_file_path = 'Improved/improved_2023.json'

# Write the JSON string to the output file
with open(output_file_path, 'w') as output_file:
    output_file.write(results_json)